.menu{
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #29b6f6;
background-image: linear-gradient(to bottom right, #E1F5FE 0%, #3498db 100%);
}

#rss_feed{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  height: auto;
}

#encart-container{
  padding-top: 50px;
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

#encart-radio{

  display: block;
}

.table_feed{
  height: 400px;
  overflow: scroll;
  display: block;
}

footer{
  background-color: #29b6f6;
  background-image: linear-gradient(to top left, #E1F5FE 0%, #3498db 100%);
  display: block;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
