html,body{
  height: auto;
  margin: 0px;
  width: 100%;
  display: block;
  position: absolute;
}

.menu{
  width: 100%;
  height: 90px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #29b6f6;
  background-image: linear-gradient(to bottom right, #E1F5FE 0%, #3498db 100%);
}

span:hover {
  cursor: default;
  border-bottom: 1px solid;
}

.menu a{
  color: inherit;
}

.menu a:hover{
  text-decoration: none;
}

.menu a:not(:hover){
  text-decoration: none;
}

.menu a:visited{
  text-decoration: none;
  decoration: none;
}

#container{
  position: relative;
  display: block;
}

#rss_feed{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  height: auto;
}

#encart-container{
  padding-top: 50px;
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

#encart-radio{

  display: block;
}

/*#documentation{
  left;
}*/

#Retour{
  position: relative;
  right: 100px;
}

#canvas{
  display: none
}

#rssFeed{
  height: auto;
  overflow: hidden;
  display: block;
}

footer{
  background-color: #29b6f6;
  background-image: linear-gradient(to top left, #E1F5FE 0%, #3498db 100%);
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
}
